@import "~react-image-gallery/styles/css/image-gallery.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
#root {
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background: linear-gradient(140deg, #00affa 10%, #ffffff 10%, #ffffff 34%, #00b2ff 34%, #00b2ff 46%, rgba(255, 255, 255, 0) 46%),
    linear-gradient(40deg, #ffffff 22.15%, #00b2ff 22.15%, #00b2ff 32.86%, #ffffff 32.86%);
}

/* Introduction page start */
.introduction {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.introduction__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}
@media screen and (max-width: 400px) {
  .introduction__container__image {
    width: 100px;
    height: 100px;
  }
  .introduction__container {
    width: 90%;
    align-self: center;
  }
}
/* Introduction page end */

/* About me page start */
.aboutMe {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutMe__container {
  background-color: #3a4856;
  color: white;
  border-radius: 30px;
  max-width: 800px;
  padding: 40px;
}
.aboutMe__container__title {
  text-align: center;
  margin-bottom: 20px;
  color: ;
}
.aboutMe__container__lineBreak {
  margin: 20px 0;
}
.aboutMe__container__article__title {
  margin-bottom: 50px;
}
/* About me page end */

/* Projects page start */
.projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects__container {
  background-color: #3a4856;
  padding-bottom: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.projects__container__title {
  padding: 20px;
  text-align: center;
  color: white;
}
.projects__container__navigation {
  display: flex;
  justify-content: center;
}
.projects__container__navigation__button {
  padding: 30px;
  border: none;
  cursor: pointer;
  color: white;
  width: 100%;
  background-color: #3a4856;
  font-size: 20px;
}
.projects__container__carouselContainer {
  display: flex;
}
.projects__container__navigation__button-active {
  background-color: white;
  color: black;
}
.projects__container__links {
  display: flex;
  justify-content: space-around;
}
.projects__container__links__container {
  border: 1px solid #3a4856;
  border-radius: 10px;
  padding: 10px;
  list-style-type: none;
  background-color: white;
}
.projects__container__links__container__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  gap: 5px;
}
.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: 400px;
}
@media screen and (max-width: 400px) {
  .projects__container__navigation__button {
    padding: 15px;
    font-size: 10px;
  }
  .projects__container__title {
    padding: 10px;
    font-size: 0.75rem;
  }
  .projects__container__links__container__direction {
    font-size: 10px;
  }
}
/* Projects page end */

/* Contact page start*/
.contact {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact__form {
  display: flex;
  flex-direction: column;
  background-color: #3a4856;
  padding: 40px;
  border-radius: 30px;
  color: white;
  width: 500px;
  border: solid;
}
.contact__form * {
  border-radius: 10px;
  border: none;
  padding: 10px 0;
  margin: 5px 0;
}
.contact__form__button {
  width: 100px;
  background-color: #00c21f;
  color: white;
}
.contact__form__textarea {
  resize: vertical;
}
/* Contact page start*/

/* Navbar start*/
.nav {
  display: flex;
  justify-content: right;
}
.nav * {
  z-index: 5;
}
.nav__ul {
  position: fixed;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 0px 30px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav__ul__li {
  list-style: none;
  justify-self: center;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__ul__li__a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.nav__ul__li__menu {
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .nav__ul {
    flex-direction: column;
  }
  .nav__ul__li:nth-child(5) {
    order: -1;
  }
}

/* Navbar end*/
